/*Standard Elements*/
body {
    background-color: #ffffff;
}

h1{
    font-family: Helvetica, sans-serif;
    font-size:50px;
    color:#0181C0;
}

ul{
    font-size:20px;
}

ul a:link{
    color:#0181C0;
}

ul a:visited{
    color: #0181C0;
}

p {
    font-family: Helvetica, sans-serif;
    font-size:20px;
}

/*removes underline from hyperlinks*/
a:link{
    text-decoration: none;
}

/*id objects*/

#text{
    margin-top:3%;
    margin-left: 20%;
    margin-right: 20%;
}

#horizontal_line{
    height:2px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    background-color: gray;
    margin-top:50px;
}

#header{
    background-color:black;
    height:3%;
    width: 100%;
    margin:0;
    position: fixed;
    transition: 0.4s;
    top:0;
    z-index:100;
    display:flex;
    flex-direction:row;
}

/*size is fixed in Tableau embed code*/
#viz1741060634541{
    margin-top:3%;
    position:static;
    margin-left:auto;
    margin-right:auto;
}

#space{
    height:5000px;
}

#header_name{
    color:rgb(255, 255, 255);
    font-family:helvetica, sans-serif;
    font-weight:900;
    align-content: center;
    height: 100%;
    margin-left:2%
}

#links_to_pages{
    display:flex;
    flex-direction:row;
    color:white;
    margin-right:0;
    margin-left:auto;
    border: 1px red;
    align-items:center;
    justify-content: center;
    width:50%;
    font-family:Helvetica,sans-serif;
}


/*class objects*/

.header_links{
    margin-left:5%;
    margin-right: 5%;
    width:150px;
    text-align:center;
    border:red 1px;
}

/*make the link color for the header white*/
.header_links a:link{
    color:white;
}

.header_links a:visited{
    color:white;
}

.header_border{
    width:2px;
    background-color: white;
    height:40%;
}

#story_sourcing{
    margin-top:50px;
    font-family:Helvetica,sans-serif;
    font-style:italic;
    color:rgb(65, 65, 65);
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

#footer{
    height:9%;
    background-color: black;
    margin-top:9%;
}

@media (orientation: portrait) {
    #viz1741060634541{
        width:100%;
        position:static;
    }

#story_sourcing{
    width:95%;
}

#text{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

#header{
    width:100%;
}

}