/*stock elements*/

body {
    background-color: linear-gradient(to bottom, #dedede 70px,white 200px);
    margin:0;
    border:red 1px;
}

div {
    border:red 1px;
}

h1 {
    font-size: 3em;
    color: black;
    font-family: Helvetica;
    text-align:center;
}

h2 {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica, sans-serif;
    text-align:center;
}

/*class elements*/

.p1 {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color:#262626;
    line-height: 1.3em;
    width:25%;
    height: auto;
    margin-top:auto;
    margin-bottom: auto;
    display:flex;
    flex-direction: column;
    align-items:left;
    z-index:2
}

.date{
    color:#B56577;
}

.link a:visited{
    color: #B56577;
    text-decoration:none;
}

.p2 {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color:#262626;
    line-height: 1.3em;
    width:25%;
    height: auto;
    margin-top:auto;
    margin-bottom: auto;
    display:flex;
    flex-direction:column;
    align-items:right;
    z-index:2;
}

.page_body{
    margin-left:10%;
    margin-right:10%;
}

.img1 img{
    border: 2px solid #EBAC8B;
    filter:drop-shadow(#EBAC8B -15px 30px 0px);
}

.img1{
    width:50%;
}

.img2{
    width:50%;
}

.img2 img{
    border: 2px solid #EBAC8B;
    filter:drop-shadow(#EBAC8B 15px 30px 0px);
}

.image_side_by_side1{
    margin-top:120px;
    display:flex;
    flex-direction:row;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.image_side_by_side2{
    direction:rtl;
    margin-top:120px;
    display:flex;
    flex-direction:row;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.header{
    background-color:#6D5A79;
    width:100%;
    position: fixed;
    transition-duration:0.4s;
    z-index:100;
    overflow:hidden;
    text-align:center;
}

.header a{
    float:left;
    display:block;
    color:white;
    border: 1px red;
    font-family:Helvetica,sans-serif;
    font-size:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:0px;
    padding-top:0px;
    align-content: center;
    height:100%;
}

.headline_title a{
    color:white;
}

.header .icon{
    display:none;
}

.header a:hover{
    background-color:#EBAC8B;
}

.interactive_title{
    font-size:70;
    color:#000000;
    font-family:"Phenomena",sans-serif;
    font-weight: lighter;
    text-align:center;
    margin-top:100px;
    margin-left:20%;
    margin-right:20%;
}

.interactive_byline{
    font-size:32;
    color:#262626;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top:40px;
    margin-left:20%;
    margin-right:20%;
}

.visit_site{
    border-radius: 10px;
    background-color: #B56577;
    font-family:Helvetica, sans-serif;
    font-size: 30px;
    text-align:center;
    width:300px;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    filter:drop-shadow(rgb(147, 147, 147) 0px 0px 7px );
}

.visit_site:hover{
    background-color: #6D5A79;
}

.vertical_bar1{
    background-color:#B56577 ;
    width:2px;
    margin-left:5%;
    margin-right:2%;
    height:auto;
    margin-top:5%;
    margin-bottom:5%;
}

.vertical_bar2{
    background-color:#B56577 ;
    width:2px;
    margin-left:2%;
    margin-right:5%;
    height:auto;
    margin-top:5%;
    margin-bottom:5%;
}

.space{
    height:100px;
}

.section_divider1{
    margin-top:100px;
    opacity:80%;
    height:100px;
    width:99.5%;
    margin-left:0%;
    background-color:#B56577;
}

.section_divider2{
    margin-top:-90px;
    opacity:50%;
    height:100px;
    width:99.5%;
    margin-left:.5%;
    background-color:#6D5A79;
}

.footer{
    height:100px;
        --s: 8px; /* control the size*/
        --c1: #7A5C79;
        --c2: #6D5A79;
        
        --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
        background:
        var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
        repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
        repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
        background-size: calc(4*var(--s)) calc(4*var(--s));
    }

/*id elements*/

#myheader{
    height: 100px;
}

#headline_box{
    height:auto;
    padding-top:10%;
    padding-bottom:5%;
    --s: 8px; /* control the size*/
        --c1: #BA6B79;
        --c2: #B56577;
        
        --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
        background:
        var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
        repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
        repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
        background-size: calc(4*var(--s)) calc(4*var(--s));
}

#headline{
    font-size:120;
    color:#EBAC8B;
    font-family:"Phenomena",sans-serif;
    font-weight:bold;
    text-align:center;
    margin-bottom:20px;
}

#divider_line{
    background-image: linear-gradient(to right,#B56577 0%, #EBAC8B 10%, #EBAC8B 90%,#B56577);
    width:50%;
    height:2px;
    margin-left:25%;
    margin-right:45%;
}

/*links*/

a:link{
    color:ffffff;
    text-decoration: none;
}

a:visited{
    color:ffffff;
    text-decoration:none;
}


/*fonts*/

@font-face {
    font-family: "Turkeyes";
    src:url(fonts/Turkeyes.ttf);
    font-weight:900;
}


@font-face {
    font-family: "Phenomena";
    src:url(fonts/Phenomena-Bold.ttf);
}

@media (orientation: portrait) {
.embeded_site{
    margin-left:0;
    margin-right:0;
}

.interactive_title{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.interactive_byline{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.image_side_by_side1{
    margin-top:50px;
    flex-direction:column;
    width:90%;
    align-items:center;
    padding-top:20px;
    border-top: 2px solid #B56577;
}

.image_side_by_side2{
    margin-top:50px;
    flex-direction:column;
    width:90%;
    align-items:center;
    padding-top:20px;
    border-top: 2px solid #B56577;
}

.vertical_bar{
    display:none;
}

.img1 {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.img2 {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.p1{
    width:90%;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color:#262626;
    text-align:center;
    margin-top:30px;
}

.p2{
    width:90%;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color:#262626;
    text-align:center;
    margin-top:30px;
}

.header{
    position:static;
}

.header a:not(:first-child){
    display:none;
}

#myheader{
    padding-top:0px;
}

.header a.icon{
    float:right;
    display:block;
}

.header.responsive {
    position:relative;
}
.header.responsive a.icon {
    position:absolute;
    right:0;
    top:0;
}

.header.responsive a{
    float:none;
    display:block;
    text-align:left;
}

.header_border{
    display:none;
}

.header{
    position:static;
}

.header a:not(:first-child){
    display:none;
}

.header a.icon{
    float:right;
    display:block;
}


.header.responsive {
    position:relative;
}

.header a{
    float:left;
    display:block;
    color:white;
    border: 1px red;
    font-family:Helvetica,sans-serif;
    font-size:20px;
    padding:14px 20px;
    height:25px;
}

#myheader{
    height:auto;
}

.header.responsive a.icon {
    position:absolute;
    right:0;
    top:0;
}

.header.responsive a{
    float:none;
    display:block;
    text-align:left;
}

.header_border{
    display:none;
}

.section_divider1{
    margin-top:100px;
    opacity:80%;
    height:100px;
    width:100%;
    margin-left:0%;
    background-color:#B56577;
}

.section_divider2{
    margin-top:-90px;
    opacity:50%;
    height:100px;
    width:100%;
    margin-left:0%;
    background-color:#6D5A79;
}

}